@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    
}
nav{
    width: 100%;
    height: 60px;
    display: flex;
    
    justify-content: space-between;
    z-index: 1;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}
nav img{
    width: 150px;
    height: 40px;
    position: relative;
    left: 40px;
    top: 10px;
}
nav .icons-links ul li{
   list-style: none;
   display: inline-block;
   position: relative;
   right: 40px;
   top: 20px;
}
nav .icons-links ul li a{
    text-decoration: none;
    color: #333;
    text-transform: capitalize;
    margin-right: 40px;
}
.icons-links ul li .add{
    color: #00C9A7;
}
.icons-links ul li .add::after{
    width: 30px;
    height: 3px;
    background-color: #00C9A7;
    content: "";
    position: absolute;
    border-radius: 22px;
    top: 25px;
    left: 0px;
}
.icons-links ul li a:hover{
    color: #00C9A7;
}
header{
    width: 100%;
    height: 50vh;
     background-image: url(img/banner/b1.jpg);
     background-position: center;
     background-size: cover;
}
header .header-information{
 color: white;
 position: absolute;
 top: 30%;
 text-align: center;
 justify-content: center;
 left: 50%;
 transform:translate(-50%,-50%);
}
.header-information h2{
    font-size: 45px;
    text-transform: capitalize;
    
}
.header-information span{
    font-size: 15px;
    line-height: 2;
    margin-bottom: 20px;
}
.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: relative;
    top: 20px;
}
.product-1,.product-2,.product-3,.product-4{
    width:270px;
    height: 340px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 33px;
    padding: 1em;
}
.product-5,.product-6,.product-7,.product-8{
    width:270px;
    height: 340px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 33px;
    position: relative;
    top: 20px;
    padding: 1em;
}
.product-1 img{
    width: 90%;
    border-radius: 33px;
}.product-2 img{
    width: 90%;
    border-radius: 33px;
}.product-3 img{
    width: 90%;
    border-radius: 33px;
}.product-4 img{
    width: 90%;
    border-radius: 33px;
}.product-5 img{
    width: 90%;
    border-radius: 33px;
}.product-6 img{
    width: 90%;
    border-radius: 33px;
}.product-7 img{
    width: 90%;
    border-radius: 33px;
}.product-8 img{
    width: 90%;
    border-radius: 33px;
}
.product-description-price{
    text-align:left;
    position: relative;
    left: 27px;
}
.product-description-price h3{
    color: rgba(0,0,0,0.4);
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
}
.product-description-price .name{
    color: #222;
    font-size: 13px;
    text-transform: capitalize;
}
.product-description-price .star-links ul li{
    list-style: none;
    display: inline-block;
}
.product-description-price .star-links ul li a{
    text-decoration: none;
    color: rgba(255, 255, 0, 0.613);
}
.price{
    color: #00704A;
    font-weight: bold;
    cursor: pointer;
}
.product-description-price button{
    position: absolute;
    right: 40px;
    top: 60px;
    padding: 0.3em 0.7em;
    border-radius: 50%;
    outline: 0;
    border: 0;
    background-color: #00704A;
    color: white;
    cursor: pointer;
    border: 1px solid #00704A;
}
.product-description-price button:hover{
    color: white;
    background-color: #00704A;
}
.buttons ul li{
    list-style: none;
    display: inline-block;
}
.buttons{
    padding: 3em;
    position: relative;
    top: 10%;
    text-align: center;
    justify-content: center;
}

.buttons ul li  button{
    padding: 0.9em 1.9em;
    outline: 0;
    border: 0;
    background-color: #00704A;
    border-radius: 0.3em;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
.buttons ul li button:hover{
    background-color:rgba(0, 255, 0, 0.5);
    color: #333;
    transition:  1s;
}
#active{
    margin-top: 80px;
    display: none;
}
.subscribe-container{
    width: 100%;
    height: 20vh;
    padding: 2em;
    background-image: url(img/banner/b14.png);
    background-position: center;
    background-size: cover;
    background-color: rgba(61, 30, 104, 0.4);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 50px;
}
.name-title{
    color: white;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 20px;
}
.subscribe-containers{
    width: 450px;
    height: 40px;
    background-color: white;
    border-radius: 0.2em;
    display: grid;
    grid-template-columns: 9fr 2fr;
    border-radius: 0.4em;
    position: relative;
    top: 10px;
}
.subscribe-containers input{
    outline: 0;
    border: 0;
    padding: 0.4em;
    border-radius: 0.3em;
}
.subscribe-containers button{
    background-color: #00704A;
    color: white;
    border-radius: 0.4em;
    outline: 0;
    border: 0;
    cursor: pointer;
    text-transform: capitalize;
}
.sign-up-message-container a{
    text-decoration: none;
    color: yellow;
    text-transform: capitalize;
    font-weight: 900;
}
footer{
    width: 100%;
    height: 40vh;
    display: grid;
    padding: 3em;
    grid-template-columns: repeat(4,1fr);
}
.footer-container-1 img{
    margin-bottom: 20px;
}
.contact-container .c{
    font-size: 25px;
    text-transform: capitalize;
    line-height: 2;
    color: #222;
}
.contact-container ul li{
    list-style: none;
    font-size: 15px;
}
.contact-container ul li span{
    margin-left: 5px;
    color: #222;
    text-transform: capitalize;
}
.container-links ul li{
    list-style: none;
    display: inline-block;
}
.contact-container b{
    text-transform: capitalize;
}
.contact-container h5:not(.c){
    margin-top: 10px;
    font-size: 20px;
    text-transform: capitalize;
}
.container-links ul li a{
    text-decoration: none;
    padding: 3px;
    color: #222;
}
.footer-container-2 h5{
    text-transform: capitalize;
    color: #333;
    margin-bottom: 20px;
    font-size: 19px;
}
.footer-container-3 h5{
    text-transform: capitalize;
    color: #333;
    margin-bottom: 20px;
    font-size: 19px;
}
.footer-container-2 ul li{
    list-style: none;
    display: block;
    margin-bottom: 20px;
}
.footer-container-2 ul li a{
    text-decoration: none;
    color: #222;
    text-transform: capitalize;
}
.footer-container-2 ul li a:hover{
    color: silver;
}
.footer-container-3 ul li{
    list-style: none;
    display: block;
    margin-bottom: 20px;
}
.footer-container-3 ul li a{
    text-decoration: none;
    color: #222;
    text-transform: capitalize;
}
.footer-container-3 ul li a:hover{
    color: silver;
}
.footer-container-4 h5{
    color: #222;
    font-size: 20px;
    text-transform: capitalize;
}
.footer-container-4 p{
    color: gray;
    font-weight: 300;
    text-transform: capitalize;
}
.btn{
    display: flex;
}
.btn button{
    width: 140px;
    height: 50px;
    margin-right: 10px;
    margin-top: 20px;
    outline: 0;
    border: 0;
    background-color: transparent;
    border-radius: 0.4em;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}
.btn-1{
    background-image: url(img/pay/app.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.btn-2{
    background-image: url(img/pay/play.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.footer-container-4 h4{
    text-transform: capitalize;
    color: gray;
    font-weight: 300;
    margin-top: 30px;
}
.payment-gateway{
    width: 350px;
    height: 60px;
    outline:0;
    border: 0;
    background-color: transparent;
cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}
.payment-gateway img{
    width: 100%;
    height: 100%;
}
#res{
    color: #222;
}
#result-container{
    padding: 3em;
}
.containers{
    display: flex;
}
.div-1 .img-div .taha-img{
    width:350px;
    height:350px;
    border-radius: 0.3em;
}
.div-1{
    display: block;
}
.img-buttons button {
    background-color: transparent;
    width: 84px;
    height: 100px;
    outline: 0;
    border: 0;
    cursor: pointer;
}
.img-buttons button img{
    width: 100%;
height: 100%;
}
.div-2{
    position: absolute;
   right: 200px;
   top: 450px;
}
.div-2 .title-name{
    text-transform: capitalize;
    font-weight: 800;
}
.div-2 h4{
    font-size: 25px;
    text-transform: capitalize;
    color: #222;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
.div-2 select{
    width: 200px;
    padding: 0.5em;
    margin-bottom: 40px;
    outline: 0;
    border: 0;
    background-color: whitesmoke;
    border-radius: 0.4em;
    margin-top: 15px;
}
.quant{
    display: block;
    margin-top: -25px;
}
.quant span{
    font-weight: 800;
    text-transform: capitalize;
}.quant input{
    width: 70px;
    height: 30px;
    outline: 0;
    border: 0;
    background-color:#dcdcdc;
    border-radius: 0.2em;
    margin-top: 3px;
    padding: 0.4em;
}
.add-button-cart{
    width: 150px;
    height: 45px;
    outline: 0;
    border: 0;
    margin-top: 30px;
padding: 0.4em;
background-color: #00704A;
color: white;
text-transform: capitalize;
font-weight: 800;
cursor: pointer;
border-radius: 0.4em;
}
.add-button-cart i{
    margin-right: 4px;
}
.product-details h2{
    font-size: 20px;
    margin-top: 10px;
    text-transform: capitalize;

}
.product-details span{
    color: #222;
    font-weight: 500;
    margin-top: 10px;
}
.cards{
    width: 430px;
    height: fit-content;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
    padding: 3em;
    position: absolute;
    right:100px;
    border-radius: 0.2em;
    top: 440px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    text-transform: capitalize;
    display: none;
}
.card-description img{
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 50%;
}
.card-description{
    display: flex;
    position: relative;
    top: 20px;
}
.card-description .product-information span{
    position: relative;
    left: 20px;
    top: 4px;
    text-transform: capitalize;
}
.product-information a:not(.info-points){
    text-decoration: none;
    position: relative;
    top: 10px;
    left: 40px;
    color: #dcdcdc;
}
.product-information{
    position: relative;
    left: -25px;
}
.info-points{
    position:absolute;
    left: 290px;
    top: 14px;
    color: #222;
    text-decoration: none;
}
.card-description .price{
    position: relative;
    top: 70px;
    left: 50px;
}
.btn-sheck{
    position: relative;
    top: 40px;
    outline: 0;
    border: 0;
    background-color: #00704A;
    color: white;
    font-weight: 800;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 0.3em;
    width: 80%;
    height: 30px;
}